/* .custom-prev,
.custom-next {
  position: absolute;
  top: 110%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
} */

.custom-prev::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100px;
  /* Line ki width */
  height: 2px;
  /* Line ki thickness */
  background-color: black;
  /* Line ka color */
  transform: translateY(-50%);
}


.custom-prev {
  left: 10px;
  left: 45%;
  /*  */
}

.custom-next {
  right: 10px;
  right: 45%;
}

.custom-line {
  width: 100px;
  /* Line width */
  height: 2px;
  /* Line thickness */
  background-color: black;
  /* Line color */
}

/* Custom CSS for Swiper pagination */
.swiper-pagination {
  position: absolute;
  bottom: 10px;
  /* Adjust this value to position the dots */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 8px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  /* Inactive dot color */
  opacity: 1;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #007bff;
  /* Active dot color */
}

.horizontal-scroll-container {
  display: flex;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: hidden; /* Hide default scroll */
  white-space: nowrap;
  scroll-behavior: smooth;
}

.scroll-item {
  min-width: 300px; /* Minimum width */
  height: 100%;
  background: lightgray;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
